<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100925070763-is93i8oa2amr175gpnclj81brcfrvcv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100925070763-is93i8oa2amr175gpnclj81brcfrvcv6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100925070763-9vi1s8sg3mh7ribsado70okb9fs7bj4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXAQ1PQDzI33EzX9wTHcNCtA_eQ6LZGko</string>
	<key>GCM_SENDER_ID</key>
	<string>100925070763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sosyalguvenlik.mobil</string>
	<key>PROJECT_ID</key>
	<string>sosyal-guvenlik-cepte-61d36</string>
	<key>STORAGE_BUCKET</key>
	<string>sosyal-guvenlik-cepte-61d36.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100925070763:ios:2fe2bcc38bb95ceef9c6ee</string>
</dict>
</plist>